body {
    list-style: none;
}

#content {
    background-color:whitesmoke;
}

#big {
    margin: 0 auto;
    width: 1300px;
    height: 550px;
    border: 1px solid #808080;
}

#Route_left {
    margin-top: 3px;
    width: 20%;
    height: 540px;
    float: left;
    border-right: 1px solid #808080;
}

#favorite {
    height: 50px;
    margin-top: 1px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.txt_destinattion {
    text-align: center;
}

#r-latitude {
    float: left;
    width: 250px;
    border-bottom: 1px solid #808080;
}

#r-destination {
    float: left;
    width: 250px;
    border-bottom: 1px solid #808080;
}

#r-dis {
    width: 250px;
    border-bottom: 1px solid #808080;
    float: left;
}

#sure {
    float: left;
    width: 100px;
    height: 30px;
    margin-top:150px;
    position:absolute;
    z-index:10;
    left:100px;
   
}

#Route_content {
    margin-top: 3px;
    margin-left: 2px;
    height: 540px;
    width: 60%;
    float: left;
    border: 1px solid #808080;
}


#allmap {
    width: 100%;
    height: 540px;
    margin: 0 auto;
    border-top: 1px solid #808080;
}

#search-box {

    height: 50px;
    width: 400px;
    margin: 0 auto;
    position:absolute;
    left:500px;
    z-index:10;
}



#Route_right {
    margin-top: 3px;
    margin-left: 2px;
    height: 540px;
    width: 19%;
    float: left;
    border: 1px solid #808080;
}

#Route_nav {
    float:left;
    width:100%;
    border-bottom: 1px solid #808080;
}


.nav_content {
    margin-top:7px;
    width:250px;
    height:111px;
    float:left;
    border-bottom: 1px solid #808080;
}
.art_pic {
   float:left;
   width:120px;
   height:110px;
}
.art_content {
    text-align:center;
    margin-left:2px;
    float:left;
    width:120px;
    height:110px;
}
